ADDR= (signer's ecoc addr)
PRIV_KEY= (private key of addraddr)
NODE_ENDPOINT= (http://username:password@4node_ip:rpc_port)
CHAIN_MODE= (Mainnet or Testnet)
LENDING_SMARTCONTRACT_ADDR= (ecoc addr of smart contract)